/* @import "@animxyz/core/dist/animxyz.css"; */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
}

.endk-section,
.interior {
  height: 100vh;
  
  display: flex;
  font-family: "Open Sans", sans-serif;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  h1 {
    font-size: 104px;
    font-weight: 700;
    color: #7f7b6b;
    padding: 0;
    margin: 0;
    line-height: 104px;
    @media screen and (min-width: 1440px) {
      font-size: calc(104px + 40%);
      line-height: calc(104px + 20%);
    }
  }
  h2 {
    font-size: 55px;
    font-weight: 700;
    color: #7f7b6b;
    padding: 0;
    margin: 0;
    line-height: 55px;
    @media screen and (min-width: 1440px) {
      font-size: calc(55px + 40%);
      line-height: calc(55px + 20%);
    }
  }
  h3 {
    font-size: 38px;
    font-weight: 400;
    color: #7f7b6b;
    padding: 0;
    margin: 0;
    line-height: 38px;
    @media screen and (min-width: 1440px) {
      font-size: calc(38px + 40%);
      line-height: calc(38px + 20%);
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    color: #7f7b6b;
    padding: 0;
    margin: 0;
    line-height: 24px;
    @media screen and (min-width: 1440px) {
      font-size: calc(24px + 40%);
      line-height: calc(24px + 40%);
    }
    &.alt {
      color: #000000;
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    color: #7f7b6b;
    padding: 0;
    margin: 0;
    line-height: 18px;
    @media screen and (min-width: 1440px) {
      font-size: calc(18px + 40%);
      line-height: calc(18px + 20%);
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: #1c1c1c;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    @media screen and (min-width: 1440px) {
      font-size: calc(16px + 20%);
      line-height: calc(16px + 50%);
    }
    @media screen and (max-width: 580px) {
      line-height: 22px;
    }
  }

  p.desc {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
  }

  .button {
    text-decoration: none;

    border-radius: 20px;
    display: inline-block;
    border: 1px solid #c4c4c4;
    background-color: #f1f1ef;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #7f7b6b;
    min-width: 130px;
    height: 28px;
    line-height: 18px;
    cursor: pointer;
    position: relative;

    &:before {
      content: attr(dc);
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      border-radius: 20px;
      line-height: 23px;
      background-color: #1c1c1c;
      color: white;
      border: 1px solid #636363;
      clip-path: circle(0px at 50% 100%);
      opacity: 0;
      transition: clip-path 700ms cubic-bezier(0.65, 0, 0.35, 1),
        opacity 400ms cubic-bezier(0.65, 0, 0.35, 1);
    }

    &:hover {
      &:before {
        clip-path: circle(200% at 50% 0%);
        opacity: 1;
      }
    }

    @media screen and (max-width: 580px) {
      font-size: 20px;
      height: 35px;
      line-height: 20px;
      min-width: 160px;
      &:before {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
