<template>
<div
    class="endk-window-with"
    :class="{ 'no-scroll': disableScroll }"
    ref="scrollContent"
    v-on:wheel="wscroll"
    v-on:scroll="bscroll"
  >
    <div class="endk-scroll-container">
        <div ref="proyectos" class="place-section-proyectos" data-scroll-section>
            <div class="nuevoProyecto">
                <label for="">
                    Left %
                    <input v-model="nuevoProyecto.position.left" type="number">
                </label>
                <label for="">
                    Top %
                    <input v-model="nuevoProyecto.position.top" type="number">
                </label>
            </div>
            <endk-section-proyectos />
        </div>
    </div>
    </div>
</template>

<script>
import endkSectionProyectos from "~/components/sections/endk-section-proyectos";

export default {
	layout: "blank",
    components: {
        endkSectionProyectos
    },
    meta: {
        section: "proyectos",
        parent: "",
    },
	data() {
    return {
      config: {
        lerps: {
          dot: 1,
          circle: 0.18,
          custom: 0.23,
        },
        scale: {
          ratio: 0.18,
          min: 0.5,
          max: 1,
        },
        opacity: 0.1,
      },
      nl: true,
      ops: {
        smooth: true,
        lerp: 0.3,
        direction: "horizontal",
        smartphone: {
          smooth: true,
          direction: "vertical",
          lerp: 0.3,
        },
        tablet: {
          smooth: true,
          direction: "vertical",
          lerp: 0.3,
        },
      },
      proyectos: [],
      nuevoProyecto: {
            position: {
                left: '0',
                top: '0'
            },
            "id": 1,
            "titulo": "NUEVO",
            "permalink": "",
            "path": "",
            "casos": []
        }
    };
  },
  mounted() {
    /*
    if (process.browser) {
      window.onNuxtReady((app) => {
        console.log("Nuxt ready!");
        this.nl = false;
      });
    }*/
    this.$store.commit("app/setWindowWidth", window.innerWidth);
    this.$store.commit("app/setWindowHeight", window.innerHeight);
    this.$nextTick(function() {
      // this.$nuxt.$loading.start();
      // setTimeout(() => this.$nuxt.$loading.finish(), 500);
      this.onResize();
    });
    window.addEventListener("resize", this.onResize);

    this.$store.commit("app/setScroll", { x: 0, y: 0 });

    this.$store.commit('proyectos/setProyectos', Array.from([Object.create(this.nuevoProyecto)]))

    setTimeout(()=>{
      this.nl = false;
    },5000)
  },
  computed: {
    p1() {
      return this.$store.getters["app/getPProyectos"].p;
    },
    p2() {
      return this.$store.getters["app/getPSection3"].p;
    },
    disableScroll() {
      return this.$store.getters["app/getDetalleColeccionOpen"];
    },
    scrollX() {
      return this.$store.getters["app/getX"];
    },
  },
  methods: {
    bscroll(e) {
      this.$store.commit("app/setScroll", {
        x: this.$refs.scrollContent.scrollLeft,
        y: 0,
      });
    },
    wscroll(e) {
      if (this.disableScroll) {
        return false;
      }

      this.$refs.scrollContent.scrollLeft += e.deltaY;

      this.$store.commit("app/setScroll", {
        x: this.$refs.scrollContent.scrollLeft,
        y: 0,
      });
    },
    avance(){
      console.log('AVANCE')
      const ww = this.$store.getters["app/getWindowWidth"];
      const x =  ww > 1024 ? ww : 0
      const y = ww > 1024 ? 0 : 600
      this.$gsap.to(this.$refs.scrollContent, {
        duration: 0.6,
        scrollTo: { y, x },
      });
    },
    gotoScroll(s) {
      const ww = this.$store.getters["app/getWindowWidth"];

      let pos = ww > 1024 ? this.$refs[s].offsetLeft : this.$refs[s].offsetTop;

      let xy = ww > 1024 ? { y: 0, x: pos } : { y: pos - 71, x: 0 };

      this.$gsap.to(this.$refs.scrollContent, {
        // for construction
        // duration: 0,
        duration: 0.6,
        scrollTo: xy,
      });
    },
    onResize() {
      this.$store.commit("app/setWindowWidth", window.innerWidth);
      this.$store.commit("app/setWindowHeight", window.innerHeight);
    },
  },
};
</script>

<style lang="less">
.endk-section-proyectos .galeria-proyectos .media-realative-proyectos {
    cursor: default !important;
}

.nuevoProyecto {
    background: #fff;
    border-radius: 3px;
    left: 10px;
    padding: 10px 10px 5px 10px;
    position: absolute;
    top: 10px;
    z-index: 1000;
    

    label {
        display: block;
    }

    input {
        margin-bottom: 5px;
        width: 50px;
    }
}
</style>
